.jumbotron {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

footer {
  padding: 1rem 0;
  background-color: #cbccce;
  text-align: center;
  margin-top: auto;
}

section {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.bg-cover {
  background-image: url(img/img8.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Overlay gelap agar teks tetap terbaca */
  padding: 50px 20px;
  border-radius: 10px;
  display: inline-block;
}

.icon-n {
  background-image: url(icon/icon1.png);
  background-size: 100px;
  background-position: center;
  position: relative;
}
